@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenDyslexic';
  src: url('OpenDyslexic-Regular.otf') format('opentype');
}

.font-dyslexic {
  font-family: 'OpenDyslexic', sans-serif;
}